/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body{
	height: 100%;
	margin: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.zero-margin{
	margin: 0;
}
.pointer-cursor{
	cursor: pointer;
}
.left-header{
	width: 80%;
	padding: 10px;
}
.right-header{
	width: 20%;
}
.right-header ul{

}
.right-header li{
	list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.right-header li a{
	text-decoration: none;
	color: #ffffff;
}
header{
	margin: 0;
	padding: 0;
	min-height: 8%;
	background-color: #312C8E;
	color: #ffffff;
}
form{
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}
label{
  width: 200px;
  display: inline-block;
}
input,
select{
	height: 20px;
  width: 300px;
  /* box-shadow: none; */
  outline: none;
  border-radius: 5px;
}
h2{
	margin: 0;
	margin-left: 20px;
}
#error_explanation{
	background: red;
	padding: 5px;
}
.content{
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
}
.form-fields{
	padding: 20px;
}
.field{
	padding: 10px;
}
.devise-div{
	width: 50% !important;
	margin: 0 auto;
}
.global-table{
	width: 100%;
	border-spacing: 0px;
	margin: 10px;
}
.global-table tr{
	border-top: 1px solid #F0EFF0;
	height: 30px;
	cursor: pointer;
}
.global-table th{
  background-color: #AABBD7;
}
.action-btn{
  display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
	height: 35px;
  background: #4CAF50;
  border: 2px groove #4CAF50;
  text-align: center;
  line-height: 28px;
}
.global-display{
	width: 60%;
	margin: 0 auto;
}
.label{
	display: inline-block;
	margin: 0;
	width: 70px;
}
.disp-data{
	display: inline-block;
	margin: 0;
}
.action-icons img{
	width: 30px;
	height: 30px;
}
.page-header{
	float: right;
	padding-top: 20px;
}
.sidenav{
	background: #312C8E;
	width: 40px;
	height: 92%;
	overflow: hidden;
	position:absolute;
	top:54px;
	bottom:0;
	left:0;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;
}
.sidenav:hover{
	overflow: visible;
	width: 100px;
}
.sidenav ul{
	margin: 15px 0 0 0;
	padding: 0;
}
.sidenav li{
  list-style: none;
  width: 100%;
  position: relative;
  display: block;
}
.sidenav li>a{
	text-decoration: none;
	color: white;
	width: 100%;
	display: table;
	position: relative;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
}
.sidenav a:hover{
	background: #eee;
}
.nav-image{
	display: table-cell;
	height: 20px;
	width: 20px;
	padding: 10px;
	position: relative;
	vertical-align: middle;
}
.nav-text{
	display: table-cell;
	vertical-align: middle;

}
.form-left{
	float: left;
}
.form-right{
	float: left;
}
.parallel-aligned-form{
	margin: 0;
	border: none;
	width: 50%;
	height: 640px;
}